a, a:visited {color: #6666CC;text-decoration: none;}
a:hover {color: #0000FF;text-decoration: underline;}
.smallBullet {color: #102a69;}

body
	{
	background-color: #def1ff;
	background-image: url(themeTexture.jpg);
	color: #043f4e;
	}


/*  OLD
.reportBody, #rBody, #pHeader, #menu ul, #ddmenuspan
	{
	background-image: url(themeGradient.png);
	background-repeat: repeat-x;
	background-color: #def1ff;
	}
*/


.reportBody, #rBody, #pHeader, #menu ul, #ddmenuspan
	{
	background: #def1ff url('themeGradient.png');
	background-size: 100% 100%;
	}

#menu ul
	{
	background: #def1ff url('themeGradient.png')
	background-size: 100% 100%;
	}


.reportBody, .footer,
.tocLinks, .tocIntro, .tocContact, .tocSur,
.wcHFather, .wcHMother, .wcWFather, .wcWMother, .wcUWFather, .wcUWMother, .wcUHFather, .wcUHMother,
.wcHusband, .wcWife, .wcFHusband, .wcMWife, .wcUHusband, .wcUWife,
.wcHFacts, .wcWFacts,
.wcMChild, .wcFChild, .wcMChildBold, .wcFChildBold, .wcFactPicture img,
.psFRecord, .psMRecord, .psRecord, .showSC, .psPicture img, .psNotesData,
.pageTitle, .pageBody, .fhName, .surRecord, .rrNav, .fhNotes, .wmRelated, .wmPicture img, .srcEntry, .idxBar, .idxSur, #rBody, #menu ul, #pHeader
	{
	border-color: #ccc;
	}

.psFooter
	{
	border-color: white;
	}

.tocTitle, .pageTitle, .tocLinksTitle, .tocIntroTitle, .tocContactTitle, .wcChildrenTitle, #pTitle, #dDMButton
	{
	text-shadow: #999 2px 2px 5px;
	}

.idxDate
	{
	color: #666;
	}

.fhNumber
	{
	color: #3d707a;
	}

.fhName
	{
	background-color: rgba(189,210,218,0.4);
	}

.psChildren
	{
	background-color: rgba(216,216,216,0.47);
	}

.psSpouse
	{
	color: #555;
	}

.rrNav
	{
	background-image: url(themeTexture.jpg);
	}

.rrSourceData
	{
	border-top-color: #88a;
	}

.rrName, .rrSpouseName, .rrNameNumber
	{
	color: #102a69;
	}

.rrChildren
	{
	background-color: #f0f9ff;
	}

/* search results */
#results
	{
	background-color: white;
	}

table#results td.u
	{
	background-color: #e7ffc1;
	}

/* web cards */
.wcParentName, .wcChildName
	{
	color: #909090;
	}

.wcHFather, .wcWFather, table#results td.m
	{
	background-color: rgba(224,239,254,0.51);
	}

.wcHMother, .wcWMother, table#results td.f
	{
	background-color: rgba(252,183,214,0.28);
	}

.wcSource
	{
	color: #333;
	}

.wcFactTitle
	{
	color: #888;
	}
	
.wcFacts
	{
	color: #555;
	}

.wcHusband, .wcMWife, .wcMChild, .wcMChildBold,
.wcHFactsWrapper .wcFactPicture img
	{
	background-color: rgba(224,239,254,0.3);
	}
	
.wcWife, .wcFHusband, .wcFChild, .wcFChildBold,
.wcWFactsWrapper .wcFactPicture img
	{
	background-color: rgba(252,183,214,0.3);
	}

.wcChild, .wcChildBold, .wcUHusband, .wcUWife, .wcUWFather, .wcUWMother, .wcUHFather, .wcUHMother
	{
	background-color: rgba(200,200,200,0.3);
	}

.psTitle
	{
	color: #444;
	}

.colFirst, .psSpousesTitle, .psNotesTitle
	{
	color: #555;
	}

.psModDate, .psCreated
	{
	color: #444;
	}

.drBox, .drBoxBold
	{
	color: #555;
	}

.drDates
	{
	color: #444;
	}

.drBoxBold, .drNumber
	{
	background-color: #fff;
	border-color: #353535;
	}

.drSpouseName
	{
	color: #6c6c6c;
	}

.drNumber
	{
	color: #2679e5;
	}
	
/* pedigree chart colors */
.box
	{
	border: 1px double #888;
 	background-position: bottom;
	}

.connect
	{
	border-color: gray;
	}
	
.showSC
	{
	color: black;
	background-color: white;
	border-color: #888;
	}
	
.scView
	{
	color: #ababab;
	background-color: white;
	border-color: #888;
	}
